html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    text-decoration: none;
    outline: none;

    font-weight: 400;
    font-size: 1em;
    color: #000;
}

container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 17.5%));
    justify-content: center;
    text-align: center;
    
    padding: 1em 2em;
    gap: 10px;
}

.line {
    width: 15em;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.315);
    margin: 1em 0;
}

/* tags */
form{
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
}

img {
    border: 0;
}

input {
    text-align: center;
}

button, select, button[disabled], html input[disabled] {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    width: 1em;
    height: 1em;
}

::selection{
    background-color: #B39246;
}

input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    outline: none;
}

input[type="search"]::placeholder {
    color: rgb(255, 255, 255, 0.8);
}

::-webkit-input-placeholder, :-moz-placeholder,  ::-moz-placeholder,  :-ms-input-placeholder {
    color: rgb(255, 255, 255, 0.8);
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.input-header, .input-content, select {
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px rgba(100, 100, 100, 1) solid;
    height: 4em;
    width: 15em;
    text-align: center;
    margin: 0 0.5em 0.3em 0;
}

input[type="checkbox"] {
    margin: 0 0.5em 0.3em 0;
    cursor: pointer;
}

input[type="date"] {
    justify-content: center;
}

.disabled {
    background-color: #5452528f;
}

.textarea-content {
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px #000 solid;
    overflow-y: auto;
    width: 15em;
    min-height: 4em;
    height: auto;
    padding: 0.5em;
    resize: none;
}

.textarea-content2 {
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px #000 solid;
    width: 99%;
    min-height: 20em;
    height: auto;
    padding: 0.5em;
    resize: vertical;
}

fieldset{
    padding: 0;
    margin: 0;
    width: 0;
    height: auto;
    display: inline-block;
    border: none;
    align-items: center;
    justify-content: center;
}

select {
    appearance: none; 
    color: rgba(100, 100, 100, 1); 
}

select option {
    font-size: large;
}

select option:hover {
    background-color: #f0f0f0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
}

ion-icon {
    font-size: 1.5em;
    color: #B39246;
    border: none;
}



ion-icon:hover, ion-icon:focus {
    filter: brightness(150%);
}

.icon50{
    font-size: 50px;
}

.icon40{
    font-size: 40px;
}